{% extends 'layout.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}<i class="fa-solid fa-marker" style="color: #2c58ce;"></i> Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="mt-4">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input name="name" id="name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="hall" class="form-label">Hall of Residence</label>
      <select class="form-control" name="hall" id="hall">
        <option value="" selected disabled hidden>--Select--</option>
        <option value="A.Z. Preston Hall">A.Z. Preston Hall</option>
        <option value="Chancellor Hall">Chancellor Hall</option>
        <option value="Elsa Leo Rhynie Hall">Elsa Leo Rhynie Hall</option>
        <option value="George Alleyne Hall">George Alleyne Hall</option>
        <option value="Irvine Hall">Irvine Hall</option>
        <option value="Leslie Robinsion Hall">Leslie Robinsion Hall</option>
        <option value="Mary Seacole Hall">Mary Seacole Hall</option>
        <option value="Rex Nettleford Hall">Rex Nettleford Hall</option>
        <option value="Taylor Hall">Taylor Hall</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Register</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}